<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <!-- AWAL INPUT  -->

    <main>
      <section class="home">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-6 mx-auto my-auto">
              <h1 class="text-center mb-3">QR CODE GENERATOR</h1>
              <div class="card p-5">
                <p>Insert URL, then click Generate!</p>
                <form class="form" action="/qrcode" method="POST">
                  <input name="url" class="form-control form-control-lg" placeholder="URL or Text" type="text" required />
                  <div class="d-flex justify-content-center"><button type="submit" class="btn mt-3">Generate</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- AKHIR INPUT  -->
    <%- include('../partials/footer') %>
  </body>
</html>
