<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <!-- AWAL INPUT  -->

    <main id="main" class="main">
      <section class="section mat-in">
        <div class="row">
          <div class="text-center">
            <span style="font-size: 30px; font-weight: lighter">QR CODE</span><span style="font-size: 30px; font-weight: bolder; color: #0d5a71"> GENERATOR</span>
            <hr />
          </div>
        </div>
        <div class="row d-flex justify-content-center py-5">
          <div class="col-3">
            <div class="card text-center">
              <img src="<%= src %>" />
              <p>Scan the QR Code to access data!</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- AKHIR INPUT  -->
    <%- include('../partials/footer') %>
  </body>
</html>
