<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <!-- AWAL INPUT  -->

    <main>
      <section class="qrcode">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-3 mx-auto my-auto text-center">
              <h1 class="text-center mb-3">QR CODE RESULT</h1>
              <div class="card p-3">
                <img src="<%= src %>" />
              </div>
              <h5 class="mt-2">Scan the QR Code to access data!</h5>
              <div class="mt-2 d-flex justify-content-center">
                <a href="/" class="btn d-inline-block me-2">Back</a>
                <a href="./public/img/yourqrcode.png" download class="btn btn d-inline-block">Download</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- AKHIR INPUT  -->
    <%- include('../partials/footer') %>
  </body>
</html>
